Source: libao
Section: core
Priority: optional
Maintainer: Yauhen Kharuzhy <jekhor@gmail.com>
Build-Depends: autotools-dev, debhelper, quilt, libasound2-dev [!kfreebsd-i386 !hurd-i386 !kfreebsd-amd64]
XCS-Cross-Build-Depends: libasound2-dev [!kfreebsd-i386 !hurd-i386 !kfreebsd-amd64]
XCS-Cross-Host-Build-Depends: autotools-dev, debhelper, quilt
Standards-Version: 3.8.0
Vcs-Bzr: http://bzr.debian.org/bzr/pkg-xiph/libao

Package: libao2
Architecture: any
Section: core
Depends: ${shlibs:Depends}
Suggests: libasound2
Replaces: libao-pulse
Description: Cross Platform Audio Output Library
 Libao is a cross platform audio output library.  It supports
 ALSA, aRts, ESD, OSS, Pulse, and several others.

Package: libao-dev
Architecture: any
Section: libdevel
Depends: libao2 (= ${binary:Version}), libc6-dev
Description: Cross Platform Audio Output Library Development
 The libao-dev package contains the header files and documentation
 needed to develop applications with libao.

Package: libao-dbg
Architecture: any
Section: libdevel
Priority: extra
Depends: libao2 (= ${binary:Version})
Description: Cross Platform Audio Output Library Debug Symbols
 The libao-dev package contains the debug symbols for libao.
